{% extends 'app/base.html'%}
{% block content %}
<style>
  body{
    background-color:rgb(235, 227, 227);
  }
  .center-div{
    width:100%;
    background-color:white;
    padding:20px 40px 40px 40px;
    
  }
  .heading{
    background-color:darkslateblue;
    color:white;
    width: 100%;
    font-size: 25px;
    text-align: center;
    padding-bottom: 15px;
    padding-top:15px;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-top-left-radius:5px;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-5">
      <div class="heading"><span>Registration</span></div>
      <div class="center-div">
        <form method="post">
            <input type='hidden' name='csrfmiddlewaretoken' value='eznrXNaMlBa19rg0UzlcNkckNdw6hOz5ptRZOjoA3PPbJwzJ7MdqKGi1tvh95M2S' />
            <label for="id_username">Username:</label> <input type="text" name="username" maxlength="255" autofocus required id="id_username" class="form-control"/>
            <label for="id_email">Email:</label> <input type="email" name="email" maxlength="254" required id="id_email" class="form-control"/>
            <label for="id_password1">Password:</label> <input type="password" name="password1" required id="id_password1" class="form-control"/>
            <label for="id_password2">Confirm Password:</label> <input type="password" name="password2" required id="id_password2" class="form-control"/>
            <label for="id_gender">Gender:</label> <select name="gender" id="id_gender" class="form-control">
            </select>
            <label for="id_country">Country:</label> <select name="country" id="id_country" class="form-control">
            </select>
            <center  id="registration_submit"><button  type="submit" class="btn  btn-block"  style="border-radius: 3px; background-color:hotpink; color:white; border:none; padding:10px 60px 10px 60px; cursor:pointer; font-weight:bold;">START COURTING NOW </button>
                <input type="checkbox" style="background-color:white; padding-right:20px;" checked> <span>Yes, I have agreed to the terms and conditions</span> 
            </center>
          </form>

  
      </div>
    </div>
  </div>
</div>
<br><br><br>
  {% endblock %}